In [1]:
import numpy as np
from fuzzywuzzy import fuzz

# process is used to compare a string to MULTIPLE other strings
from fuzzywuzzy import process

c:\python27\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
import pandas as pd

In [3]:
stageAndstatus = pd.read_excel("Doc\Xlsx\stage&status.xlsx")

In [4]:
QName = pd.read_excel("Doc\Xlsx\QName.xlsx")

In [18]:
PGName = pd.read_excel("Doc\Xlsx\PGName.xlsx")

In [6]:
PGSpec = pd.read_excel("Doc\Xlsx\PGSpec.xlsx")

In [7]:
PGIns = pd.read_excel("Doc\Xlsx\PGIns.xlsx")

In [8]:
PreviousEmp = pd.read_excel("Doc\Xlsx\PreviousEmp.xlsx")

In [9]:
PreviousDesignation = pd.read_excel("Doc\Xlsx\PreviousDesignation.xlsx")

In [10]:
Industry = pd.read_excel("Doc\Xlsx\Industry.xlsx")

In [11]:
FunctionArea = pd.read_excel("Doc\Xlsx\FunctionArea.xlsx")

In [12]:
IndentRequirment = pd.read_excel("Doc\Xlsx\IndentRequirment.xlsx")

In [13]:
SourceName = pd.read_excel("Doc\Xlsx\SourceName.xlsx")

In [15]:
Low_pop = pd.read_csv("Doc\Low_Pop\cat_map_tab_BM_DBM_model.csv")

In [28]:
Low_pop

      Variable_name                  Category          New_category
0            Gender                    Female                Female
1            Gender                      Male                  Male
2            Gender                   Unknown               Unknown
3    Marital_Status                   Married               Married
4    Marital_Status                    Single                Single
5    Marital_Status               Undisclosed           Undisclosed
6      QName1_Class                      ARTS                  ARTS
7      QName1_Class                  COMMERCE              COMMERCE
8      QName1_Class                   DIPLOMA          Low_pop_perc
9      QName1_Class               ENGINEERING           ENGINEERING
10     QName1_Class                        IT          Low_pop_perc
11     QName1_Class                LITERATURE          Low_pop_perc
12     QName1_Class                MANAGEMENT          Low_pop_perc
13     QName1_Class                   NO_INFO               NO_INFO
14     QName1_Class                     OTHER          Low_pop_perc
15     QName1_Class                   SCIENCE               SCIENCE
16     QName1_Class                   UNKNOWN          Low_pop_perc
17           QType1                  Distance          Low_pop_perc
18           QType1                 Full Time             Full Time
19           QType1                 Part Time          Low_pop_perc
20           QType1                   Unknown               Unknown
21    PGName2_Class                      ARTS          Low_pop_perc
22    PGName2_Class                  COMMERCE          Low_pop_perc
23    PGName2_Class               ENGINEERING          Low_pop_perc
24    PGName2_Class                        IT          Low_pop_perc
25    PGName2_Class                MANAGEMENT          Low_pop_perc
26    PGName2_Class                       MBA                   MBA
27    PGName2_Class                   NO_INFO               NO_INFO
28    PGName2_Class            NOT APPLICABLE          Low_pop_perc
29    PGName2_Class                    OTHERS          Low_pop_perc
..              ...                       ...                   ...
89   Function_Class          ACCOUNTS/FINANCE          Low_pop_perc
90   Function_Class            ADMINISTRATION          Low_pop_perc
91   Function_Class                  AIRLINES          Low_pop_perc
92   Function_Class            ANALYTICS/DATA          Low_pop_perc
93   Function_Class                   BANKING               BANKING
94   Function_Class                CONSULTING          Low_pop_perc
95   Function_Class      CUSTOMER SUPPORT/BPO  CUSTOMER SUPPORT/BPO
96   Function_Class                 EDUCATION          Low_pop_perc
97   Function_Class     ENGINEEING/TECHNOLOGY          Low_pop_perc
98   Function_Class               ENGINEERING          Low_pop_perc
99   Function_Class    ENGINEERING/TECHNOLOGY          Low_pop_perc
100  Function_Class                        HR          Low_pop_perc
101  Function_Class                        IT                    IT
102  Function_Class                JOURNALISM          Low_pop_perc
103  Function_Class                     LEGAL          Low_pop_perc
104  Function_Class                 MARKETING          Low_pop_perc
105  Function_Class                OPERATIONS          Low_pop_perc
106  Function_Class                    OTHERS          Low_pop_perc
107  Function_Class  RESEARCH AND DEVELOPMENT          Low_pop_perc
108  Function_Class                     SALES                 SALES
109  Function_Class                    UKNOWN                UKNOWN
110     Source_Name                    Campus          Low_pop_perc
111     Source_Name                Consultant            Consultant
112     Source_Name                      EGES                  EGES
113     Source_Name             ICICI Careers         ICICI Careers
114     Source_Name         Industry Academia          Low_pop_perc
115     Source_Name                Job Portal          Low_pop_perc
116     Title_Class                        BM                    BM
117     Title_Class                       CBM                   CBM
118     Title_Class                       DBM                   DBM

[119 rows x 3 columns]